@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #242525;
}
.calculator{
    position: relative;
    display: grid;
    border-radius: 10px;
    background: rgba(136, 120, 120, 0.185)
}
.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 70px;
    color: #fff;
    background: #0e1abd;
    place-items: center;
    border: 1px solid rgba(64, 28, 122, 0.1);
}
.calculator btn:active{
    background: rgb(4, 72, 99);
    color: rgba(77, 68, 68, 0.514);
}
.calculator span:hover{
    background-color: green;
}
.calculator span.clear{
    grid-column: span 2;
    width: 120px;
    background: rgb(252, 45, 45);
}
.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal{
   background: orange;
}